.env
logs

/data_api/__pycache__
/data_api/.env

/weather_api/__pycache__
/weather_api/env
/weather_api/config/__pycache__
/weather_api/config/.env
/weather_api/src/yandex/__pycache__
/weather_api/src/lib/__pycache__

/view_api/.env
/view_api/.idea
/view_api/nbproject
/view_api/runtime
/view_api/.buildpath
/view_api/.project
/view_api/.settings
/view_api/Thumbs.db
/view_api/vendor
/view_api/composer.phar
#/view_api/composer.lock
/view_api/.DS_Store
/view_api/phpunit.phar
/view_api/phpunit.xml
/view_api/tests/_output/*
/view_api/tests/_support/_generated
/view_api/.vagrant